{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block body %}
  <div class="ui container">
  <h3 class="ui header">{{ entry.title }}</h3>
  <div class="ui two column stackable grid container">
    <div class="column">
      <div class="ui piled pink segment">
        <div class="ui comments">
          {% if entry.comments.all() %}
            {% for comment in entry.comments.all() %}
              <div class="comment">
                <a class="avatar">
                  {% if comment.user %}
                    <img src="{{ comment.user.email|gravatar }}">
                  {% else %}
                    <img src="{{ 'Anonymous'|gravatar }}">
                  {% endif %}
                </a>
                <div class="content">
                  {% if comment.user %}
                    <a class="author">{{ comment.user.username }}</a>
                  {% else %}
                    <a class="author">Anonymous</a>
                  {% endif %}
                  <div class="metadata">
                    <span class="date">{{ comment.time|friendly_time }}</span>
                  </div>
                  <div class="text">
                    {% for line in comment.text.splitlines() %}
                      {{ line }}<br>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p>There is no comment.</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <form class="ui form"
              action="{{ url_for('add_comment', topic_id=entry.topic_id, entry_id=entry.id) }}"
              method="post">
          {{ form.hidden_tag() }}
          {% if form.text.errors %}
            <div class="error field">
          {% else %}
            <div class="field">
          {% endif %}
          <label>{{ form.text.label }}</label>
          {{ form.text(rows=5) }}
          </div>
          <div class="field">
            <div class="ui checkbox">
              {{ form.show_user }}
              <label>Do you open your name?</label>
            </div>
          </div>
          {{ form.submit(class='ui teal submit button') }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}