{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block body %}
  <div class="ui container">
    <form class="ui form" action="{{ url_for('add_entry', id=topic.id) }}" method="post">
      {{ form.hidden_tag() }}
      {% if form.title.errors %}
        <div class="error field">
      {% else %}
        <div class="field">
      {% endif %}
      <label>{{ form.title.label }}</label>
      {{ form.title(placeholder="Title") }}
      </div>
      <div class="field">
        <label>{{ form.category.label }}</label>
        {{ form.category(class='ui dropdown') }}
      </div>
      {% if form.description.errors %}
        <div class="error field">
      {% else %}
        <div class="field">
      {% endif %}
      <label>{{ form.description.label }}</label>
      {{ form.description(rows=5) }}
      </div>
      <div class="field">
        <div class="ui checkbox">
          {{ form.show_user }}
          <label>Do you open your name?</label>
        </div>
      </div>
      {{ form.submit(class='ui teal submit button') }}
    </form>
  </div>
{% endblock %}

{% block script %}
{% endblock %}