<!doctype html>
<title>Flaskr</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
{% block style %}{% endblock %}
<div class="ui top attached demo menu">
  <a class="item">
    <i class="sidebar icon"></i>
    Menu
  </a>
</div>
<div class="ui bottom attached segment pushable">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    <div class="item">
      <img class="ui mini image" src="{{ url_for('static', filename='img/favicon.png') }}">
    </div>
    <a class="item">Features</a>
    <a class="item">Testimonials</a>
    {% if current_user.is_authenticated %}
      <a class=item href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a class=item href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      {% block body %}{% endblock %}
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
<script>
  $(document).ready(function () {
    $('.ui.sidebar')
        .sidebar({
          context: $('.bottom.segment')
        })
        .sidebar('attach events', '.menu .item');
  })
</script>
{% block script %}{% endblock %}