<!doctype html>
<title>Password</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/simple.css') }}">
<style>
  a.item {
    margin-left: 86px;
  }
</style>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <i class="comments icon"></i>
      <div class="content">
        Voting System
      </div>
    </h2>
    <form class="ui large form" action="{{ url_for('password') }}" method="post">
      {{ form.hidden_tag() }}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password(size=20) }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.confirm(size=20) }}
          </div>
        </div>
        {{ form.submit(class='ui fluid large teal submit button') }}
      </div>
    </form>
    {% for message in get_flashed_messages() %}
      <div class="ui error message">{{ message }}</div>
    {% endfor %}
  </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
