<!doctype html>
<title>Login</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/simple.css') }}">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        {{ message }}
      </div>
    </h2>
    <h2>
      <div class="content">
        <a class="ui teal button" href="{{ url_for('login') }}">Login</a>
      </div>
    </h2>
  </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
